<mat-tab-group mat-align-tabs="center" (selectedIndexChange)="onChangeSelectionIndex($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>search</mat-icon>
            Search
        </ng-template>
        <div class="row">
            <div class="col">
                <app-search></app-search>
                <hr />
                <app-list [dataGifs]="getSearchResults()" (search)="search($event)"></app-list>
            </div>
        </div>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>star</mat-icon>
            Trending
        </ng-template>
        <app-list [dataGifs]="getTrendingGifs()" (search)="search($event)"></app-list>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>smart_toy</mat-icon>
            Stickers
        </ng-template>
        <app-list [dataGifs]="getTrendingStickers()" (search)="search($event)"></app-list>

    </mat-tab>
</mat-tab-group>