<div class="row">
    <div *ngFor="let gif of results.data" class="col-md-4 col-sm-4 animate__animated animate__fadeIn">
        <div class="card m-2">
            <img [src]="gif.images.downsized_medium.url" height="200" [alt]="gif.title" class="card-img-top">
            <div class="card-body">
                <div class="card-text">
                    {{gif.title}}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="results.data" class="row">
    <div class="col">
        <mat-paginator [length]="results.pagination.total_count" [pageSize]="10" (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
</div>